<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>

            <li>
              <%= link_to(content_tag(:span, "  Home", class: "glyphicon glyphicon-home home"), user_path(current_user.id) ) %>
            </li>

            <li>
              <%= link_to(content_tag(:span, "  Users", class: "glyphicon glyphicon-user users"), users_path) %>
            </li>

            <li>
              <%= link_to(content_tag(:span, "  Books", class: "glyphicon glyphicon-book books"), books_path) %>
            </li>

            <li>
              <%= link_to(content_tag(:span, "  lgout", class: "glyphicon glyphicon-log-out logout"), destroy_user_session_path, method: :delete) %>
            </li>

            <% else %>

            <li>
              <%= link_to(content_tag(:span, "  Home", class: "glyphicon glyphicon-home home"), "/") %>
            </li>

            <li>
               <%= link_to(content_tag(:span, "  About", class: "glyphicon glyphicon-link about"), home_about_path) %>
            </li>

            <li>
              <%= link_to(content_tag(:span, "  sing up", class: "glyphicon glyphicon-edit sign_up"), new_user_registration_path) %>
            </li>

            <li>
              <%= link_to(content_tag(:span, "  login", class: "glyphicon glyphicon-log-in sign_in"), new_user_session_path) %>
            </li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>

    <div class="body">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
