<div class="container">
  <div class="row">
  	<%= render "books/user_bookNew", book: @book %>

  	<div class="col-xs-9">
      <h2>Book detail</h2>

      <table class="table">
      	<tbody>
      		<tr>
      			<td>
      				user_image<br>
      				user_name
      			</td>
      			<td>
      				<div class="btn1">
      					<%= link_to @book_show.title, book_path(@book_show) %>
      				</div>
      			</td>
      			<td>
      				<%= @book_show.body %>
      			</td>

      			<% if @book_show.user == current_user %>
      				<td>
      					<%= link_to(content_tag(:span, "Edit", class: "btn-sm btn-success edit_book_24379"), edit_book_path(@book_show)) %>
      				</td>
      				<td>
								<%= link_to(content_tag(:span, "Destroy", class: "btn-sm btn-danger destroy_book_24379"), book_path(@book_show), method: :delete, "data-confirm" => "本当に消しますか？") %>
      				</td>
      			<% end %>
      		</tr>
      	</tbody>
     	</table>
  	</div>
  </div>
</div>